.nav-container {
    width: 75%;
    height: 100%;
    max-width: 350px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    transition: transform 300ms ease-in;
}

.nav-container.hide {
    transform: translateX(100%);
    transition: transform 300ms ease-out;
}

nav {
    flex-direction: column;
    justify-content: flex-start !important;

    background: var(--clr-brown);

    width: 100%;
    height: 100%;

    margin-top: 5vh;
    padding: 1.5em;
}